body {
    margin: 0;/*сбрасываем стандартные отсупы у страницы - 8px со всех сторон*/

    background-color: #fff;

    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #585858;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*При открытом модальном окне или меню убираем скролл
создадим класс no-scroll для body и добавим overflow: hidden*/
body.no-scroll,
body.show-nav {
    overflow: hidden;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0; /*по умолчанию все заголовки имеют отступы(margin), уберем их*/
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
p {
    margin: 0 0 10px;
}
/*Делаем стили для адаптивных картинок*/
/*картинка не будет вылазить за пределы блока*/
.img {
    display: block;
    max-width: 100%;
    height: auto;
}
.text__center {
    text-align: center;
}
/*page*/
/*Чтобы прижать footer к низу страницы
оборачиваем всю страницу в дополнительный блок*/
.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden; /*избежим горизонтальной прокрутки, если элементы выйдут за сетку*/
}

/*Header
=======================*/
.header {
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    background-color: rgba(0, 0, 0, 0.2);

    transition: background-color linear 0.2s;
}

.header--dark, body.show-nav .header {
    background-color: rgba(0, 0, 0, 0.9);
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;/*выровняли элементы по центру по вертикали*/
    height: 85px;
}

/*Nav
=======================*/
.nav {
    display: flex;
    height: 100%;

    font-size: 16px;
}
.nav__link {
    display: flex;/*по умолчанию ссылки - строчные элементы, делаем ссылку блочной, чтобы прописать padding*/
    align-items: center;
    padding: 0 15px;

    color: #fff;
    text-decoration: none;

    transition: background-color 0.2s linear;
}
.nav__link.active {
    background-color: #004AF2;
}
.nav__link:not(.active):hover {
    text-decoration: underline;
}
.burger {
    width: 30px;
    height: 23px;
    position: relative;
    display: none;
    padding: 0;

    background: none;
    font-size: 0;
    color: transparent;
    border: 0;
    cursor: pointer;
}
.burger:focus {
    outline: 0;
}
.burger_line {
    display: block;
    width: 30px;
    height: 2px;
    margin: 3px 0;

    background-color: #fff;

    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}
.burger_line:nth-child(1) {
    width: 20px;
    margin-left: auto;
}
/*анимируем иконку меню(делаем крестик*/
.burger.active .burger_line:nth-child(1),
.burger.active .burger_line:nth-child(3) {
    /*display: none;*/
    opacity: 0;
}
.burger.active .burger_line:nth-child(2),
.burger.active .burger_line:nth-child(4) {
    position: absolute;
    left: 0;
    top: 50%;

    transform-origin: center;
}
.burger.active .burger_line:nth-child(2) {
    transform: rotate(45deg);
}
.burger.active .burger_line:nth-child(4) {
    transform: rotate(-45deg);
}
/*--------------------------------------*/
/*Intro
=======================*/
.intro {
    position: relative;
    margin-bottom: 30px;

    background: #000 url("img/intro_bg.jpg") no-repeat center;
    background-size: cover; /*растягиваем картинку по всему блоку*/
}
.intro--blog {
    height: 350px;

    background: #000 url("img/blog_bg.jpg") no-repeat center;
    background-size: cover;
}
.intro--text {
    height: 350px;

    background: #000 url("img/text_bg.jpg") no-repeat center;
    background-size: cover;
}
.intro__inner {
    height: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.intro__text {
    margin-bottom: 45px;

    text-align: right;
    color: #fff;
}
.intro__countries {
    font-size: 16px;
}
.intro__title {
    position: relative;

    font-family: 'Lato', sans-serif;
    font-size: 110px;
    font-weight: 700;
    line-height: 0.9;
    opacity: 0.8;
}
.intro__title-amp {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    line-height: 1;
    font-size: 170px;
    font-family: inherit;
    font-weight: 900;
    color: inherit;
    opacity: 0.2;
}


/*request-form
==================*/
.request-form {
    width: 100%;
    max-width: 400px;

    background-color: #004AF2;
    border-radius: 5px;
    overflow: hidden; /*скроем часть вылезающего блока request-form__header*/
}
.request-form--intro {
    position: relative;
    bottom: -30px;
}
.request-form--right {
    margin-left: auto;
}

.request-form__header {
    padding: 20px 30px;

    background-color: #033FC9;
    color: #fff;
}
.request-form__title {
    margin-bottom: 5px;

    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 900;
}
.request-form__text {
    font-size: 16px;
    line-height: 1.4;
}
.request-form__content {
    padding: 30px;
}

/*Form
==========================*/
.form__group {
    margin-bottom: 25px;
}
.input {
    display: block;
    width: 100%;
    padding-bottom: 12px;
    padding-left: 50px;

    background: none;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    font-family: 'PT Sans', sans-serif;
    color: #fff;
    font-size: 16px;

    transition: border-bottom-color linear 0.2s;
}
.input::placeholder {
    color: #fff;
}
.input:focus {
    outline: 0;
    border-bottom-color: #fff;
}
.input--user {
    background: url("img/icons/person_icon.svg") no-repeat left 5px top 5px;
}
.input--phone {
    background: url("img/icons/call_icon.svg") no-repeat left 5px top 5px;
}
.input--email {
    background: url("img/icons/mail_icon.svg") no-repeat left 5px top 5px;
}
.input--dark {
    color: #2c2c2c;
    border-bottom-color: #e8e8e8;
}
.input--dark::placeholder {
    color: #2c2c2c;
}
.input--dark:focus {
    border-bottom-color: #000;
}
.input--dark.input--user {
    background-image: url(img/icons/person_black.svg);
}
.input--dark.input--phone {
    background-image: url(img/icons/phone_black.svg);
}
.input--dark.input--email {
    background-image: url(img/icons/mail_black_icon.svg);
}

/*Button
==================*/
.btn {
    position: relative;

    display: inline-block;
    vertical-align: middle;
    padding: 15px 45px;

    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: 1.1;

    background-color: #000;
    overflow: hidden;

    border: 0;
    border-radius: 5px;

    cursor: pointer;

    transition: background-size linear 0.2s;
}
.btn:focus {
    outline: 0;
}
/*делаем маску, при наведении курсора она будет менть цвет*/
/*Градиент плавно менять нельзя*/
.btn:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    background-color: #fff;
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    transition: opacity 0.1s linear;
}
.btn span {/*тест поверх маски,не должен затеняться*/
    position: relative;
    z-index: 2;
}
.btn:hover:before {
    opacity: 0.1;
}
.btn--orange {
    background-image: linear-gradient(to right, #FF903E, #FF2C2C);
}
.btn--block {
    display: block;
    width: 100%;
}
.btn--shadow {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

/*Section
=======================*/
.section {
    padding: 60px 0;
}
.section--last {
    margin-bottom: 60px;/*отступ 60px для последней секции*/
}
.section__title {
    margin-bottom: 40px;

    font-family: 'Lato', sans-serif;
    font-size: 45px;
    font-weight: 900;
    color: #2C2C2C;
    line-height: 1.2;
}
.section__title span {
    color: #0D53F2;
}
.section--map {
    background: url("img/map.svg") left 30px top 130px no-repeat;
}
.section--gray {/*добавили всему блоку серый фон*/
    background-color: #F9F9F9;
}

/*Services
=======================*/
.services {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0 50px;
    position: relative;

    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}
.services__main-title {
    position: absolute;
    bottom: 12px;
    right: 30px;
    z-index: 1;
    pointer-events: none;/*чтобы не выделять тест мышью*/

    font-family: 'Lato', sans-serif;
    font-size: 90px;
    font-weight: 900;
    color: rgba(44, 44, 44, 0.05);
    line-height: 1;
}
.services__item {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 0 25px;
    margin-bottom: 30px;
}
.services__title {
    margin-bottom: 20px;

    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #2C2C2C;
    line-height: 1.2;
}
.services__text {
    margin-bottom: 20px;

    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #585858;
}
.services__footer {
    margin-top: auto;
}
.services__link {
    display: inline-block;

    color: #004AF2;
    font-size: 16px;
    text-decoration: none;

    transition: color 0.1s linear;
}
.services__link:hover {
    color: #FF3E2F;
}
.services__link:after {
    content: "";
    display: block;
    width: 10px;
    height: 2px;
    margin-top: 5px;

    background-color: #004AF2;

    transition: width 0.1s linear;
}
.services__link:hover:after {
    width: 100%;

    background-color: #FF3E2F;
}

/*clients
====================*/
.clients {
    display: flex;
    margin-bottom: 60px;
}
.clients__logos {
    width: 60%;
}
.clients__reviews {
    width: 40%;
}
.clients__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.clients__list li {
    margin-right: 50px;
    margin-bottom: 40px;
}
.clients-love {
    display: inline-block;
    margin-left: 40px;
    min-height: 47px;
    padding-top: 5px;

    background: url("img/heart.svg") no-repeat left 19px top 0;

    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color: #464646;

}

/*Reviews
=====================*/
.reviews {
    position: relative;
}
.reviews .slick-list {
    padding-top: 20px;
    z-index: 2;
}
.reviews .slick-dots {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: -20px;
    left: 0;
    z-index: 3;
}
.reviews .slick-dots li {
    margin: 0 8px;
}
.reviews .slick-dots li.slick-active button{
    box-shadow: 0 0 0 5px rgba(0, 74, 242, 0.11);
    background-color: #004AF2;
}
.reviews .slick-dots button {
    display: block;
    padding: 0;
    background: #DBDBDB;
    width: 10px;
    height: 10px;

    border-radius: 50%;
    border: 0;

    color: transparent;
    font-size: 0;

    cursor: pointer;

    transition: background-color  0.2s linear;
}
.reviews .slick-dots button:focus {
    outline: 0;
}
.reviews:before,
.reviews:after {
    content: "";
    display: block;
    width: 10px;
    height: 100%;

    position: absolute;
    top: 0;
    z-index: 3;
}
.reviews:before {
    left: 0;
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
}
.reviews:after {
    right: 0;
    background-image: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
}
.reviews__item {
    padding: 0 10px;
}
.reviews__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
}
.reviews__header:before {
    content: "";
    display: block;
    width: 92px;
    height: 126px;

    background: url("img/lines.svg") no-repeat;

    position: absolute;
    top: -13px;
    left: 2px;
    z-index: 1;
}
.reviews__header__content {
    flex-grow: 1;
    padding-left: 21px;
}
.reviews__photo {
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 2;

    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.reviews__name {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: #2C2C2C;
}
.reviews__company {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #2C2C2C;
}
.reviews__content {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #585858;
    line-height: 1.8;
}
.reviews__content  p {
    margin-bottom: 20px;
}
.reviews__content  p:first-line {/*jотступ у первой строки абзаца*/
    text-indent: 20px;
}

/*Benefits
===================*/
.benefits {
    display: flex;
}
.benefits__col {
    width: 50%;
}
.benefits-list {
    width: 100%;
    max-width: 370px;
    padding-left: 50px;
    position: relative;

    /*делаем вертикальные серые полоски через линейный градиент*/
    background-image: linear-gradient(to bottom, #fff 40%, #A5A5A5 40%);
    background-size: 2px 35px;
    background-repeat: repeat-y;
    background-position: left 12px top -4px;
}
.benefits-list:before,
.benefits-list:after {
    content: "";
    display: block;
    width: 26px;
    height: 36px;

    background-color: #fff;
    background-repeat: no-repeat;

    position: absolute;

    left: 0;
    z-index: 1;
}
.benefits-list:before {
    top: 1px;

    background-image: url("img/pin_start.svg");
}
.benefits-list:after {
    bottom: -10px;

    background-image: url("img/pin_end.svg");
}
.benefits-list__item:not(:last-child) {
    margin-bottom: 35px;
}
.benefits-list__title {
    margin-bottom: 12px;

    font-family: 'Lato', sans-serif;
    font-size: 21px;
    font-weight: 900;
    color: #2C2C2C;
    line-height: 1.2;
}
.benefits-list__text {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #585858;
    line-height: 1.4;
}

/*Team
==========================*/
.team {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.team__col {
    width: 33.33333%;
    padding: 0 15px;
    margin-bottom: 30px;
}
.team__photo {
    margin-bottom: 13px;

    box-shadow: 10px 5px 13px rgba(0, 0, 0, 0.16);
}
.team__name {
    margin-bottom: 5px;

    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: #2C2C2C;
    line-height: 1.2;
}
.team__prof {
    margin-bottom: 11px;

    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #585858;
}
.team__contacts {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: #585858;
    line-height: 1.2;
}
.team__contacts li {
    margin-bottom: 9px;
}
.team__contacts a {
    text-decoration: none;
    color: inherit;
}
.team__contacts a:hover {
    text-decoration: underline;
}
.team__contacts-icon {
    width: 16px;
    height: auto;
    margin-right: 7px;
}

/*Mission
=======================*/
.mission-title {

    font-family: 'Lato', sans-serif;
    font-size: 90px;
    font-weight: 900;
    line-height: 1;
    color: rgba(0, 0, 0, 0.05);
    text-align: center;
    text-transform: uppercase;

}
.mission {
    position: relative;
    padding: 60px 30px;
    margin-bottom: 30px;
    margin-top: -23px;

    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.16);
    text-align: center;

    font-family: 'Lato', sans-serif;
}
.mission:before,
.mission:after {
    content: "";
    display: block;
    width: 41.66666%;
    height: 2px;

    position: absolute;
    bottom: 0;
    z-index: 1;
}
.mission:before {
    background-color: #004AF2;

    right: 50%;
}
.mission:after {
    background-color: #FC2C2B;

    left: 50%;
}
.mission__title {
    margin-bottom: 5px;

    font-size: 30px;
    color: #004AF2;
    font-weight: 700;
    line-height: 1.2;
}
.mission__subtitle {
    font-size: 21px;
    color: #585858;
}

/*News
===================*/
.articles {
    display: flex;
    /*flex-wrap: wrap;/*делаем блок резиновым*/
    justify-content: space-between;
    margin: 0 -15px 30px;
}
.articles--column {
    flex-direction: column;
    margin-bottom: 75px;
}
.articles--column
.articles__item {
    max-width: none;
    margin-bottom: 45px;
}
.articles--column
.articles__item:last-child {
    margin-bottom: 0;
}
.articles__item {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
    padding: 0 15px;
}
.articles__title {
    margin-bottom: 15px;

    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #2C2C2C
}
.articles__title a {
    text-decoration: none;
    color: inherit;
}
.articles__title a:hover {
    text-decoration: underline;
}
.articles__text {
    margin-bottom: 15px;

    font-size: 16px;
    color: #585858;
    line-height: 1.4;
}
.article__date {
    display: block;/*тэг time строчный по умолчанию*/

    font-size: 12px;
    color: #6E6E6E;
}

/*footer
==================*/
.footer {
    padding: 40px 0;
    margin-top: auto;

    background-color: #F9F9F9;
    background-image:
    url("img/tire-track-left.svg"),
    url("img/tire-track-right.svg");
    background-repeat: no-repeat;
    background-position: left -50px bottom -80px, right -50px bottom -80px;

    text-align: center;
}
.footer_contacts {
    margin: 25px 0;

    color: #585858;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
}
.footer_contacts p {
    margin: 0 0 5px;
}
.footer_contacts a {
    color: inherit;
    text-decoration: none;
}
.footer_contacts a:hover {
    text-decoration: underline;
}
.footer_nav {
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;

}
.footer_nav a {
    margin: 0 5px;

    color: #004AF2;
    text-decoration: none;
}
.footer_nav a:hover {
    text-decoration: underline;
}

/*modal
==================*/
.modal {
    display: none;
    width: 100%;
    height: 100%;
    padding: 30px 15px;
    overflow-y: auto;

    background-color: rgba(0, 0, 0, 0.9);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
}
.modal.show {
    display: block;
}
.modal__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}
.modal__content {
    position: relative;
    max-width: 400px;
    width: 100%;
    padding: 25px;

    background-color: #fff;
    opacity: 0;

    transform: translateY(-100px);

    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}
.modal__header {
    margin-bottom: 25px;

    text-align: center;
}
.modal__icon {
    margin-bottom: 10px;
}
.modal__title {
    margin-bottom: 10px;

    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #004AF2;

    line-height: 1.2;
}
.modal__text {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #2C2C2C;

}
.modal__footer {
    margin-top: 25px;
    padding-top: 25px;

    border-top: 1px solid #e8e8e8;

    text-align: center;
}
.modal__footer-title {
    margin-bottom: 10px;

    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: #2C2C2C;
}
.modal__contacts {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: #2C2C2C;
    font-style: normal;
}
.modal__contacts p {
    margin-bottom: 3px;
}
.modal__contacts a {
    color: #2C2C2C;
    text-decoration: none;
}
.modal__contacts a:hover {
    text-decoration: underline;
}
.modal__close {
    width: 20px;
    height: 20px;
    padding: 0;
    position: absolute;
    top: -20px;
    right: -30px;
    z-index: 1;

    background: none;
    border: none;

    cursor: pointer;

    transition: transform 0.2s linear;
}
.modal__close:focus {
    outline: 0;
}
.modal__close:hover {
    transform: rotate(90deg);
}
.modal__close img {
    display: block;
}

/*Main
====================*/
.main {
    display: flex;
    margin: 0 -15px;
}
.main__col {
    width: 50%; /*ширина 600PX, половина от контейнера*/
    padding: 0 15px;
}

/*text
====================*/
.text {
    max-width: 890px;
    margin-bottom: 50px;

    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color: #585858;
    line-height: 1.5;
}
.text p {
    margin-bottom: 20px;
}

.text h2,
.text h3,
.text h4,
.text h5,
.text h6 {
    font-size: 24px;
    font-weight: 700;
    color: #2C2C2C;
}
.text ul,
.text ol {
    margin-bottom: 20px;
}
.text ol {
    list-style: decimal;
    list-style-position: inside;
}

/*Media
====================*/
@media (max-width: 991px) {
    /*Intro*/
    .intro__title {
        font-size: 90px;
    }
    .intro__title-amp {
        right: auto;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);

        font-size: 120px;
    }
    .intro--blog,
    .intro--text {
        height: 250px;
    }
    .services__item {
        width: 50%;
    }
    /*section*/
    .section__title  {
        text-align: center;
    }
    .section--map {
        background-position: center top 130px;
    }
    /*clients*/
    .clients {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .clients__logos,
    .clients__reviews {
        width: 100%;
    }
    .clients__logos {
        margin-bottom: 50px;
    }
    .clients__list {
        justify-content: center;
    }
    .clients__list li {
        max-width: 130px;
    }
    /*footer*/
    .footer {
        background-size: 350px auto;
    }
    /*main col*/
    .main__col--left {
        width: 55%;
    }
    .main__col--right {
        width: 45%;
    }
}
@media (max-width: 767px) {

    /*header*/
    .header__inner {
        height: 50px;
    }

    /*nav*/
    .nav {/*создаем вертикальное меню навигации*/
        position: absolute;
        height: calc(100vh - 50px); /*по умолчанию было 100%*//*получаем 100vh и отнимаем 50px высоты header*/
        overflow: auto;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1;
        width: 100%;
        padding-top: 9px;
        flex-direction: column;

        background: rgba(0, 0, 0, 0.85);

        /*Анимация*/
        transform: translateX(100%);
        transition: transform 0.2s ease-out;
    }
    .nav.show {
        transform: translateX(0);/*Анимация*/
    }
    .nav__link {
        display: block;
        padding: 10px 15px;

        text-align: right;
    }
    .burger {
        display: block;
    }

    /*intro*/
    /*Элементы intro_inner должны идти друг под другом*/
    .intro {
        margin-bottom: 0;
    }
    .intro__inner {
        flex-direction: column;
        align-items: center;
        height: auto;/*Убрали фиксированную высоту*/
        padding-top: 75px;
        padding-bottom: 25px;
    }
    .request-form--intro {
        /*уберем отрицательный margin*/
        position: static;
        order: 2;
    }
    .intro__text {
        order: 1;
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }
    .intro__title {
        font-size: 70px;
    }
    .intro__title-amp {
        font-size: 100px;
    }
    /*benefits*/
    .benefits {
        flex-direction: column;
        max-width: 600px;
        margin: 0 auto;
    }
    .benefits__col {
        width: 100%;
    }
    .benefits-list {
        margin-bottom: 30px;
        max-width: none;
    }
    /*team*/
    .team {
        flex-direction: column;
    }
    .team__col {
        width: 100%;
    }
    .team__col:last-child {
        margin-bottom: 0;
    }
    .team__item {
       max-width: 370px;
       margin: 0 auto;
    }
    /*Mission*/
    .mission-title {
        font-size: 70px;
    }
    .mission {
        padding: 40px 20px;
        margin-top: -16px;
    }
    .mission__title {
        font-size: 24px;
    }
    .mission__subtitle {
        font-size: 18px;
    }
    /*articles*/
    .articles {
        flex-wrap: wrap;
    }
    .articles__item {
        max-width: none;
    }
    /*footer*/
    .footer {
        background-size: 250px auto;
        background-position: left -20px bottom -30px, right -20px bottom -30px;
    }
    /*main*/
    .main {
        flex-direction: column;
    }
    .main__col {
        width: 100%;
    }
    /*request form*/
    .request-form--right {
        margin: 30px auto 0;
    }
    .articles--column {
        margin-bottom: 30px;
    }
}
@media (max-width: 575px) {
    .intro__title {
        font-size: 60px;
    }
    .intro__title-amp {
        right: auto;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);

        font-size: 90px;
    }
    /*request form*/
    .request-form__header,
    .request-form__content {
        padding: 20px;
    }
    .request-form__title {
        font-size: 25px;
    }
    /*services*/
    .services {
        padding-top: 55px;
        padding-bottom: 10px;
    }
    .services__main-title {
        bottom: auto;
        right: auto;
        top: 20px;
        width: 100%;

        font-size: 60px;
        text-align: center;
    }
    .services__item {
        width: 100%;
    }
    /*section*/
    .section {
        padding: 30px 0;
    }
    .section__title {
        font-size: 35px;
    }
    .section--last {
        margin-bottom: 30px;
    }
    /*clients*/
    .clients__list {
        justify-content: center;
        margin: 0 -15px;
    }
    .clients__list li {
        min-width: 0;
        width: 33.33333%;
        margin-right: 0;
        padding: 0 15px;
    }
    .clients__list-logo {
        margin: 0 auto;
    }
     /*Mission*/
     .mission-title {
        font-size: 40px;
    }
    .mission {
        padding: 30px 20px;
        margin-top: -10px;
    }
    .mission__title {
        font-size: 20px;
    }
    .mission__subtitle {
        font-size: 16px;
    }
    /*footer*/
    .footer {
        background-position: left -120px bottom -80px, right -120px bottom -80px;
    }
    /*modal*/

    .modal__close {
        right: 0;
        top: -30px;
    }
}
@media (max-width: 320px) {
    .intro__title {
        font-size: 40px;
    }
    .intro__title-amp {
        font-size: 50px;
    }
}








