@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #826afb;

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.4;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    position: relative;
    max-width: 300px;
    width: 100%;
    padding: 15px 25px 25px;

    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0 0 10px;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}
.text__center {
    text-align: center;
}

.captcha_container_header {
    margin-bottom: 20px;

    color: #333;
    font-size: 18px;
    font-weight: 600;
}

.input_field {
    position: relative;
    height: 45px;
    margin-bottom: 15px;
    width: 100%;
}

.refresh_button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;

    background-color: #826afb;
    border: 0;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.refresh_button:active {
    transform: translateY(-50%) scale(0.98);
}

.input_field input,
.button button {
    height: 100%;
    width: 100%;

    outline: none;
    border: 0;
    border-radius: 8px;
}

.input_field input {
    padding: 0 15px;

    border: 1px solid rgba(0, 0, 0, 0.1);
}

.captch_box input {
    color: #6b6b6b;
    font-size: 22px;
    pointer-events: none;
    /* letter-spacing: 7px; */
}

.captch_input input:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

.message {
    display: none;
    margin: 14px 0;

    color: #826afb;
}

.message.active {
    display: block;
}

.button button {
    background-color: #826afb;
    color: #fff;
    cursor: pointer;
}

.button button:active {
    transform: scale(0.99);
}

.button.disabled button {
    opacity: 0.6;
    pointer-events: none;
}