/*========================
1. Базовые настройки
2. Общие для всех страниц стили
3. Стили для страницы sakums
4. Стили для странцы auto pasutisana и mazlietoti auto
5. Стили для странцы auto pasutisana
6. Стили для странцы auto pasutisana и mazlietoti auto*
7. Media, responsive design
=========================*/

/*1. Базовые настройки
======================*/
body {
  margin: 0;

  font-family: Arial, Helvetica, sans-serif, sans-serif;
  font-size: 14px;

  background-color: #fff;
}
body.no-scroll,
body.nav-noscroll {
    overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0 0 10px 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
/*Делаем стили для адаптивных картинок*/
/*картинка не будет вылазить за пределы блока*/
.img {
  display: block;
  width: 100%;
  height: auto;
}

/*2. Общие для всех страниц стили*/
/*Header
=================*/
.header {
  width: 100%;
  height: 100px;

  position: absolute; /*делаем header поверх блока intro*/
  top: 0;
  left: 0;
  z-index: 100;
}
.header.fixed {
  position: fixed;

  background-color: #000;
}
.position--fixed { /*для kontakti, lietoti_am*/
    position: fixed;
}
.background_black {
  background-color: #000;
}
.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;

}
.header_logo {
  display: block;
}
.logo_title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}
.logo_subtitle {
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}
.logo_title span {
  color: #db2d2e;
}

/*Nav
=================*/
.nav {
  display: flex;
}
.nav_link {
  display: inline-block;
  padding: 0 15px;

  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  transition: color linear 0.2s;
}
.nav_link:last-child {
  margin-right: 0;
}
.nav_link:hover {
  color: #db2d2e;
}
.active {
  color: #db2d2e;
}
.burger {
  display: none; /*по умолчанию будет none*/
  width: 30px;
  height: 25px;
  position: relative;
  padding: 0;

  background: none;
  font-size: 0;
  color: transparent;
  border: 0;

  cursor: pointer;
}
.burger:focus {
  outline: 0;
}
.burger_line {
  display: block;
  width: 30px;
  height: 2px;
  margin: 4px 0;

  background-color: #fff;

  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}
/*анимируем иконку меню(делаем крестик*/
.burger.active .burger_line:nth-child(1),
.burger.active .burger_line:nth-child(3) {
  opacity: 0;
}
.burger.active .burger_line:nth-child(2),
.burger.active .burger_line:nth-child(4) {
  position: absolute;
  left: 0;
  top: 50%;

  transform-origin: center;
}
.burger.active .burger_line:nth-child(2) {
  transform: rotate(45deg);
}
.burger.active .burger_line:nth-child(4) {
  transform: rotate(-45deg);
}
/*3. Стили для страницы sakums*/
/*Intro
=================*/
.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 680px;
  padding-top: 100px;

  background-color: #000;
  background: url(img/pexels-albin-berlin-919073_v6.jpg) center no-repeat;
  background-size: cover;
}
.intro_inner {
  width: 100%;
  max-width: 770px;
  margin: 0 auto;
}
.intro_inner_title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ebebeb;
}
.intro_inner_subtitle {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ebebeb;

  margin-bottom: 40px;
}
/*Button
================*/
.btn {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;

  padding: 14px 40px;

  border-radius: 2px;
  font-family: inherit; /*наследуем шрифт*/
  font-size: 12px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: 0;
  background-color: #db2d2e;
  transition: background-color 0.2s linear;

  cursor: pointer;
}
.btn-long {
  width: 250px;
}
.btn--short {
  width: 143px;
  padding: 10px 21px;
  line-height: 1.5;
}
.btn--transparent {
  padding: 10px 30px;
  border: 1px solid #fff;
  transition: background-color linear 0.2s, color linear 0.2s;
}
.btn--transparent:hover {
  background-color: #fff;
  color: #000;
}
.btn--transparent:hover.hidden_link {
  color: #000;
}
.btn:hover {
  background-color: #333;
}
/*Icon
================*/
.fa--font-large {
  font-size: 20px;
}
/*Features
================*/
.features {
  padding: 50px 0;
  background-color: #f6f6f6;

}
.features_inner {
  display: flex;
  justify-content: space-between;
}
.features_inner_item {
  width: 30%;
}
.features_inner_item i {
  font-size: 90px;
  margin: 0 0 15px 125px;
  text-align: center;
  color: #db2d2e;
}
.features_inner_title {
  margin-bottom: 12px;
  text-transform: uppercase;
  text-align: center;
}
.features_inner_text {
  text-align: center;
  font-size: 16px;

  opacity: 0.7;
}
/*Our services
================*/
.our_services {
  padding: 35px 0;
}
.our_services_intro {
  width: 100%;
  max-width: 600px;
  margin-bottom: 35px;

  line-height: 1.5;
}
.our_services_title {
  margin-bottom: 10px;

  font-size: 25px;
}
.our_services_intro p{
  font-size: 19px;
  text-align: justify;
}
.our_services_intro::after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  margin-top: 10px;

  background-color: #db2d2e;
}
.our_services_inner {
  display: flex;
  justify-content: space-between;
}
.our_services_inner_col {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}
.our_services_inner_col_item {
  width: 30%;
  padding: 0 15px;
}
.our_services_inner_col_item:last-child {
  margin-right: 0;
}
.col_item_list li {
  font-size: 16px;
  line-height: 1.5;
}
.col_item_text {
  margin-top: 14px;

  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}
.col_item_img {
  display: block;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
}

/*Footer
================*/
footer {
  background-color: #000;
  background: url(img/footer_img_v6.jpg) center no-repeat;
  background-size: cover;
}
.footer_inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 35px 0;

  color: #fff;
}
.footer_inner::after {
  position: absolute;
  bottom: 20px;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;

  background-color: #db2d2e;
}
.footer_inner_col1 {
  width: 100%;
  max-width: 700px;
  padding: 0 15px 0 0;
}
.footer_inner_col_title {
  text-transform: uppercase;
}
.footer_inner_col_title span {
  color: #db2d2e;
}
.footer_inner_col_text {
  margin: 10px 0 20px 0;

  line-height: 1.5;
  font-size: 15px;
  text-align: justify;
  color: #c4c3c3;
}
.footer_inner_col2 {
  width: 100%;
  max-width: 300px;
}
.col_contacts_text {
  margin-top: 10px;

  line-height: 1.5;
  font-size: 15px;
  color: #c4c3c3;
}
.footer_tel_mail {
  padding-bottom: 35px;
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: space-between;

  color: #c4c3c3;
  font-size: 15px;
}
.footer_tel_mail a {
  color: #c4c3c3;
  text-decoration: none;
  transition: color linear 0.2s, text-decoration 0.2s linear;
}
.footer_tel_mail a:hover {
  text-decoration: underline;
  color: #db2d2e;
}
.subscribe {
  width: 100%;
  max-width: 380px;
  display: flex;
}
.subscribe_input {
  width: 60%;
  height: 26px;
  padding: 12px;

  background-color: #fff;
  border: 1px solid #e7e7e7;
  border-right: 0;

  font-family: Arial, Helvetica, sans-serif, sans-serif;
  font-size: 15px;
  font-style: italic;
  color: #ccc;
  font-weight: 300;
}
.social-content {
  margin-bottom: 10px;

  font-size: 15px;
  color: #c4c3c3;
  font-style: italic;
  font-weight: 300;
}
.social-content a {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;

  font-size: 18px;
  color: #db2d2e;
  transition: color linear 0.2s;
}
.social-content a:hover {
  color: #333;;
}
.subscribe_input::placeholder {
  color: #333;
}
.subscribe_input:focus {
  outline: 0;
  border-color: #db2d2e;
}
.subscribe_btn {
  width: 40%;
  height: 26px;

  background-color: #db2d2e;

  font-family: Arial, Helvetica, sans-serif, sans-serif;
  font-size: 12px;

  border: 0;
  cursor: pointer;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;

  transition: background-color 0.2s linear;
}
.subscribe_btn:hover {
  background-color: #333;
}
.subscribe_btn:focus {
  outline: 0;
}

/*4. Стили для странцы auto pasutisana и mazlietoti auto
===========================*/
.main {
  background-color: #f6f6f6;
  padding: 100px 0 0 0;
}

/*5. Стили для странцы auto pasutisana
/* Car order intro
=====================*/
.car_order_intro {
  padding: 35px 0;
}
.car_order_intro_title {
  font-size: 25px;
}
.car_order_intro_title:after {
  content: "";
  display: block;
  width: 100%;
  max-width: 700px;
  height: 2px;
  margin-top: 10px;

  background-color: #db2d2e;
}
.car_order_intro_text {
  width: 100%;
  max-width: 700px;
  margin: 0 0 15px 0px;
  text-align: justify;
  line-height: 1.5;
  font-size: 15px;
}
.car_order_intro_text span {
  display: inline-block;
  margin: 10px 0 5px 0;

  text-transform: uppercase;
  font-weight: 700;
}
/* Car order form
=====================*/
.car_order_form {
  position: relative;
  padding-bottom: 30px;
}
.car_order_form--nopadding {
  padding-bottom: 0;
}
.car_order_form_title {
  font-size: 25px;
}
.car_order_form_title--modal {
  font-size: 25px;
}
.car_order_form_img {
  position: absolute;
  bottom: 105px;
  right: 236px;
  width: 100%;
  max-width: 360px;
}
.car_order_form_title:after {
  content: "";
  display: block;
  width: 100%;
  max-width: 700px;
  height: 2px;
  margin-top: 10px;

  background-color: #db2d2e;
}
.car_order_form_title--modal:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;

  background-color: #db2d2e;
}
.car_order_form p {
  margin-bottom: 10px;
}
.car_order_form_subtitle {
  margin-top: 10px;

  font-size: 17px;
}
/* Form
===================*/
.form {
  width: 100%;
  max-width: 400px;
  margin-top: 30px;
  margin-left: 30px;
}
.form--align_center {
  margin: 0 auto;
}
.form label {
  display: block;
  margin: 20px 0 10px 0;

  font-weight: 700;
}
.form-group {
  margin-bottom: 10px;
}
.input {
  display: block;
  width: 100%;
  padding: 8px 15px;
  box-sizing: border-box;

  border: 1px solid #c4c3c3;
  font-family: inherit;
  font-size: 15px;
}
.input:focus {
  outline: 0;
  border-color: #333;
}
.select {
  display: block;
  width: 100%;
  padding: 8px 15px;
  box-sizing: border-box;

  border: 1px solid #c4c3c3;
  font-family: inherit;
  font-size: 15px;
}
.select:focus {
  outline: 0;

  background-color: #fff;
  border-color: #333;
}
.textarea {
  width: 100%;
  max-width: 400px;
  height: 100px;
  padding: 8px 15px;

  border: 1px solid #c4c3c3;
  font-family: inherit;
  font-size: 15px;

  resize: none;
}

/*6. Стили для странцы auto pasutisana и mazlietoti auto*/
/*Used cars
=====================*/
.used_car {
  background-color: #fff;
  padding: 50px 0;
}
.used_car_item {
  position: relative;
  display: flex;
  flex-direction: column;
 /*padding: 25px 0;*/
  width: 100%;
  max-width: 800px;
  margin: 0 auto 30px;
}
.used_car_item_inner {
  display: flex;
  flex-wrap: wrap;

  background-color:#f6f6f6;
}
.used_car_item_img {
    width: 32%;
    position: relative;
}
/*фон с градиентом*/
.used_car_item_hidden_bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100%;
    height: 100%;

    text-align: center;

    background: #db2d2e;
    opacity: 0;

    transition: opacity 0.2s linear;
}
.hidden_title {
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}
.hidden_title .hidden_link {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  font-weight: 700;

}
.used_car_item_img:hover .used_car_item_hidden_bg {
    opacity: 0.9;
}
.used_car_item_table {
    width: 68%;
    padding: 10px 15px 0 25px;
}

.used_car_item_inner table td {
  height: 40px;
  width: 50%;
}

.used_car_available {
  position: absolute;
  top: -15px;
  right: -28px;
  width: 80px;
  height: 30px;
  padding: 5px;

  text-align: center;
}
.green {
  background-color: darkgreen;
  color: #fff;
}
.red {
  background-color: #db2d2e;
  color: #fff;
}
.orange {
  background-color: rgb(228, 126, 30);
  color: #fff;
}
.used_car_title {
  margin-bottom: 5px;
  padding: 10px;
  font-size: 20px;

  background-color: #c4c3c3;
}

/*Модальные окна*/
.modal {
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 2000;
  padding: 30px 15px;
  width: 100%;
  height: 100%;
  /*overflow: auto;*/
  background-color: rgba(0, 0, 0, 0.9);
}
.modal_content {
  position: relative;
  width: 100%;
  max-width: 880px;

  margin: 0 auto;
  padding: 30px;
  background-color: #fff;

  animation-name: moveY, opacity;
  animation-duration: 0.6s;
}
@keyframes moveY {
  from {
    transform:translateY(-40px)
  }
  to {
    transform:translateY(0)
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.request_modal_content {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;

  background-color: #fff;

  animation-name: moveY, opacity;
  animation-duration: 0.6s;
}
.modal_close {
  position: absolute;
  top: -29px;
  right: -22px;

  color: #fff;
  font-size: 35px;
  outline: 0;
  cursor: pointer;

  transition: transform 0.2s linear, color 0.2s linear;
}
.modal_close:focus {
  outline: 0;
}
.modal_close:hover {
  transform: rotate(90deg);
  color: #db2d2e;
}

/*Фото галерея*/

/* Position the image container (needed to position the left and right arrows) */
.modal_container {
  position: relative;
}
.modal_inner {
  display: flex;
  justify-content: space-between;
  padding: 0 0 25px 0;
}
.modal_inner_title {
  font-size: 20px;
}
.modal_inner_subtitle {
  font-size: 20px;
  font-weight: 600;
}
/*Images hidden by default, will show them using JS*/
.audiA6_slides,
.bmw520_slides,
.bmw730_slides,
.mb_s400_slides,
.vw_passat_slides {
  display: none;
}
.numbertext {
  padding: 15px 0;

  text-align: center;
  font-weight: 700;
  font-size: 15px;

}
/*Cursor pointer over the the thumbnail images*/
.cursor {
  cursor: pointer;
}
/*next,previous buttons*/
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;

  color: #fff;
  font-weight: 700;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;

  transition: background-color linear 0.2s, color linear 0.2s;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #db2d2e;
}
.row {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.column {
  width: 16.6666%
}
.audiA6_demo,
.bmw520_demo,
.bmw730_demo,
.mb_s400_demo,
.vw_passat_demo {
  opacity: 0.6;
  transition: opacity linear 0.2s;
}
.active,
.demo:hover {
  opacity: 1;
}
.modal_inner_container {
  display: flex;
}


/*7. Media, responsive design
=================*/
@media (max-width: 1055px) {
  .car_order_form_img {
    bottom: 108px;
    right: 220px;
  }
}
@media (max-width: 1024px) {
    .car_order_form_img {
      bottom: 108px;
      right: 193px;
    }
}
@media (max-width: 991px) {
  /*1. Media для index.html*/
  .intro_inner_title {
    font-size: 35px;
  }
  .intro_inner_subtitle {
    font-size: 18px;
  }
  /*1.1 features*/
  .features_inner_item i {
    margin: 0 0 15px 90px;
  }
  /*2. Media для kontakti.html*/
  .car_order_form_img {
    display: none;
  }
}
@media (max-width: 768px) {
  /*header*/
  .header {
    height: 76px;
  }
  .header_inner {
    padding: 20px 0;
  }
  /*footer*/
  .footer_inner {
    flex-wrap: wrap;
  }
  .footer_inner_col1 {
    margin-bottom: 15px;
  }
  .nav {
    /*display: none;*/
    width: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    height: calc(100vh - 50px);
    overflow: auto;
    padding-top: 9px;
    flex-direction: column;

    background: rgba(0, 0, 0, 0.85);
    transition: 0.2s ease-out;
  }
  .nav.show {
    width: 100%;
  }
  .burger {
    display: block;
  }
  .nav_link {
    display: block;
    padding: 10px 15px;

    text-align: right;
    font-size: 17px;
  }
  .nav_link.active-mobile {
    background-color: #db2d2e;
    color: #fff;
  }
  /*1. Media для index.html*/
  /*1.1 Intro*/
  .intro_inner_title {
    font-size: 30px;
  }
  .intro_inner_subtitle {
    font-size: 15px;
    margin-bottom: 30px;
  }
   /*1.2 features*/
  .features {
    padding: 35px 0;
  }
  .features_inner_item i {
    margin: 0 0 15px 64px;
    font-size: 80px;
  }
  /*1.3 Our services*/
  .our_services_title {
    font-size: 21px;
  }
  .our_services_intro p {
    font-size: 15px;
  }
  .our_services_inner_col_item {
    width: 35%;
  }
  .col_item_list li {
    font-size: 15px;
  }
  .col_item_text p {
    font-size: 15px;
  }
  /*2. Media для kontakti.html*/
  /*2.1 form*/
  .main {
    padding: 75px 0 0 0;
  }
  .form {
    margin: 30px auto 0;
  }
  .car_order_intro {
    padding: 25px 0;
  }
  /*3. Media для lietoti_am.html*/
  .used_car_item_img {
    width: 100%;
  }
  .used_car_available {
    top: -11px;
    right: -7px;
  }
  .used_car_item_table {
    width: 100%;
  }
  .btn--transparent {
    padding: 20px 50px;
  }
  .hidden_link {
    font-size: 20px;
  }
  /*Modal window*/
  .modal_close {
    top: -3px;
    right: 5px;

    color: #000;
  }
  .modal_inner {
    padding: 0 0 15px 0;
  }
  .modal_inner_title,
  .modal_inner_subtitle {
    font-size: 18px;
  }
  .column {
    width: 19%;
  }
  .btn--short {
    width: 135px;
    padding: 9px 21px;
    font-size: 11px;
  }
}
@media (max-width: 575px) {
  /*footer*/
  .footer_tel_mail {
    max-width: 575px;
  }
  /*1. Media для index.html*/
  /*1.1 Intro*/
  .intro {
    height: 600px;
  }
  .intro_inner_title {
    font-size: 25px;
  }
  .intro_inner_subtitle {
    font-size: 13px;
    margin-bottom: 20px;
  }
  /*1.2 features*/
  .features_inner {
    flex-wrap: wrap;
  }
  .features_inner_item {
    width: 100%;
    text-align: center;
  }
  .features_inner_item i {
    margin: 0 0 15px auto;
    font-size: 72px;
  }
  /*1.3 Our services*/
  .our_services_inner_col {
    flex-wrap: wrap;
  }
  .our_services_inner_col_item {
    width: 100%;
  }
}
@media (max-width: 440px) {
  /*1. Media для index.html*/
  /*1.1 Intro*/
  .intro {
    height: 550px;
  }
  .intro_inner_title {
    font-size: 19px;
  }
  .intro_inner_subtitle {
    margin-bottom: 15px;
  }
  /*3. Media для lietoti_am.html*/
  .used_car {
    padding: 25px 0;
  }
  .used_car_title {
    font-size: 18px;
  }
  .used_car_item_table {
    padding: 0;
    font-size: 13px;
  }
  /*Modal window*/
  .modal_inner_title,
  .modal_inner_subtitle {
    font-size: 16px;
  }
  .modal_close {
    top: -5px;
  }
  .modal_content {
    padding: 24px 20px;
  }
  .row {
    display: none;
  }
  .button_container {
    margin: 0 auto;
  }
}
@media (max-width: 375px) {
  .intro_inner_title {
    font-size: 16px;
  }
  .intro_inner_subtitle {
    margin-bottom: 12px;
  }
  .used_car_item_table {
    padding: 0;
    font-size: 11px;
    overflow-x: auto;
  }
  .used_car_item_table td {
    width: 15%;
  }
   /*Modal window*/
   .prev,
   .next {
     padding: 8px;
     font-size: 16px;
   }
}
@media (max-width: 320px) {
  .used_car_available {
    width: 70px;
    height: 27px;

    font-size: 13px;
  }
  .used_car_title {
    padding: 8px;

    font-size: 12px;
  }
  .used_car_item_table {
    font-size: 9px;
  }
}
/*@media only screen and (orientation: landscape) {
  .modal_content {
    height: 100%;
    max-height: 768px;
    width: 100%;
  }
  .img {
    height: auto;
    object-fit: cover;
  }
  .modal_content {
    height: 100%;
    max-height: 640px;
  }
}*/

