body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.list-reset {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.btn-reset {
    padding: 0;

    border: none;

    font-family: 'Poppins', sans-serif;

    background-color: transparent;

    cursor: pointer;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Bold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/*Header
=====================*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 24px 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.burger {
    --offset-horizontal: 11px;
    --offset-vertical: 14px;
    position: relative;
    height: 40px;
    width: 40px;
    padding: var(--offset-vertical) var(--offset-horizontal);

    background-color: #F5F6F7;

    border-radius: 100%;
}

.burger-line {
    position: absolute;
    left: 50%;
    top: var(--offset-vertical);
    display: inline-block;
    height: 2px;
    width: calc(100% - (var(--offset-horizontal) * 2));
    transform: translateX(-50%);

    background-color: #000;
}

.burger-line:nth-child(2) {
    top: calc(var(--offset-vertical) + 6px)
}

.burger-line:nth-child(3) {
    top: calc(var(--offset-vertical) + 12px)
}

/*Hero
=====================*/
.hero {
    padding-top: 100px;

    background: url("../img/hero-bg.jpg") center no-repeat;
    background-size: cover;
}