html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.text-uppercase {
    text-transform: uppercase;
}

/*register page*/

.signInContainer {
    background-color: #efefee;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    background-color: #fff;
    min-height: 300px;
    max-height: 100%;
    width: 100%;
    max-width: 450px;
    padding: 20px 35px;

    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
}
/*register page - logo */
.column__logo a {
    color: #c90b0b;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
}
/*register page - header */

.column .header {
    padding: 20px 0;
}

.column .header__title {
    margin: 0;
    padding-top: 16px;

    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #000;
}

.column .header span {
    font-size: 14px;
}

/*register page - form*/

.column form {
    display: flex;
    flex-direction: column;
}
.column form input[type="text"],
.column form input[type="email"],
.column form input[type="password"],
.column form input[type="submit"] {
    font-family: Arial, Helvetica, sans-serif;
}

.column form input[type="text"],
.column form input[type="email"],
.column form input[type="password"] {
    margin: 10px 0;

    font-size: 14px;
    border: none;
    border-bottom: 1px solid #dedede;
    transition: border-bottom linear 0.2s;
}

.column form input[type="text"]:focus,
.column form input[type="email"]:focus,
.column form input[type="password"]:focus {
    outline: 0;
    border-bottom: 1px solid rgb(25, 106, 238);
}

.column form input[type="submit"] {
    height: 36px;
    width: 88px;
    margin-top: 10px;
    margin-bottom: 20px;

    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 3px;

    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;

    cursor: pointer;

    transition: background-color linear 0.2s;
}

.column form input[type="submit"]:hover,
.column form input[type="submit"]:focus {
    background-color: rgb(25, 106, 238);
}

/* register page - sign in link */
.signin_message {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

/* register page - error message*/
.error_message {
    color: #f00;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}