html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;

    background-color: #141414;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h3 {
    color: #e5e5e5;
}

a h3:hover {
    color: #fff;
}

a {
    text-decoration: none;
}

.text-uppercase {
    text-transform: uppercase;
}

/*page wrapper conteiner*/

/*header*/
.top_bar {
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 0 60px;
    width: 100%;
    height: 70px;
    transition: background-color 0.2s linear;
}

.top_bar.scrolled {
    background-color: #141414;
    transition: background-color 0.2s linear;
}

.top_bar img {
    display: block;
    width: 100%;
    max-width: 150px;
    height: auto;
}

.nav_links {
    display: flex;
    list-style: none;
    text-decoration: none;
}

.nav_links a {
    margin-left: 20px;

    color: #fff;
    font-size: 14px;
}

.right_items {
    flex: 1;

    text-align: right;
}

.right_items i {
    margin-left: 10px;

    color: #fff;
    font-size: 20px;
}

/*register page*/
.wrapper {
    min-width: 1050px;
    min-height: 100%;
    background-color: #141414;

    color: #fff;
}
.signInContainer {
    background-color: #efefee;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    background-color: #fff;
    min-height: 300px;
    max-height: 100%;
    width: 100%;
    max-width: 450px;
    padding: 20px 35px;

    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
}

/*register page - logo */

.column__logo a {
    color: #c90b0b;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
}

/*register page - header */

.column .header {
    padding: 20px 0;
}

.column .header__title {
    margin: 0;
    padding-top: 16px;

    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #000;
}

.column .header span {
    font-size: 14px;
}

/*register page - form*/

.column form {
    display: flex;
    flex-direction: column;
}
.column form input[type="text"],
.column form input[type="email"],
.column form input[type="password"],
.column form input[type="submit"] {
    font-family: Arial, Helvetica, sans-serif;
}

.column form input[type="text"],
.column form input[type="email"],
.column form input[type="password"] {
    margin: 10px 0;

    font-size: 14px;
    border: none;
    border-bottom: 1px solid #dedede;
    transition: border-bottom linear 0.2s;
}

.column form input[type="text"]:focus,
.column form input[type="email"]:focus,
.column form input[type="password"]:focus {
    outline: 0;
    border-bottom: 1px solid rgb(25, 106, 238);
}

.column form input[type="submit"] {
    height: 36px;
    width: 88px;
    margin-top: 10px;
    margin-bottom: 20px;

    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 3px;

    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;

    cursor: pointer;

    transition: background-color linear 0.2s;
}

.column form input[type="submit"]:hover,
.column form input[type="submit"]:focus {
    background-color: rgb(25, 106, 238);
}

/* register page - sign in link */

.signin_message {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

/* register page - error message*/

.error_message {
    color: #f00;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

/*main page - preview video/image */
.preview__container {
    position: relative;
    display: flex;
}

.preview__container.small {
    display: inline-flex;
    width: 230px;
    height: 129px;
    margin-right: 4px;
}

.preview__container.small img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preview__image,
.preview__video {
    width: 100%;
}

.preview_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

/*preview container - main details */
.preview_overlay .main_details {
    position: relative;
    top: 35%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.preview_overlay .main_details__title {
    font-size: 40px;
    margin: 15px 0;
}

.preview_overlay .main_details__subtitle {
    font-size: 30px;
    margin: 15px 0;
}

/*preview container - buttons */
.main_details button {
    min-width: 150px;
    padding: 0 38px;
    margin-bottom: 15px;
    margin-right: 5px;
    height: 50px;
    max-height: 50px;

    background-color: rgba(51, 51, 51, 0.4);
    border: 0;
    border-radius: 5px;

    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 18px;

    transition: all linear 0.2s;
    cursor: pointer;
}

button i {
    color: inherit;
}

.main_details button:hover {
    background-color: #e6e6e6;
    color: #000;
}

/*movie categories */
.category {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.entities,
.videos {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.preview_categories {
    padding: 0 50px;
}

/*error message */
.error_banner {
    position: absolute;
    top: 25%;
    width: 100%;

    text-align: center;
    font-size: 18px;
}

/*entity page*/
.season {
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
}

.episodeContainer {
    display: inline-flex;
    justify-content: center;
    margin-right: 4px;
}

.episodeContainer .contents {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 230px;
}

.episodeContainer img {
    width: 230px;
    height: 129px;

    object-fit: cover;
}

.episodeContainer .videoInfo h4,
.episodeContainer .videoInfo span {
    width: 100%;

    color: #fff;
    white-space: normal;
}

.seen {
    position: absolute;
    top: 5px;
    left: 5px;

    color: #2ecc71;
    font-size: 26px;
}

/*Video player*/
.watch_container video {
    width: 100%;
}

.video_controls {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.3);
}

.video_controls h1 {
    color: #fff;
}

.video_controls button {
    padding: 50px;

    font-size: 50px;
    color: #fff;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

/*watch container*/
.up_next {
    height: 100%;
    justify-content: center;
}

.up_next_container button {
    padding: 0;
}

.up_next_container h2,
.up_next_container h3 {
    color: #fff;
}

.watch_nav {
    z-index: 2;
}

/*search page*/
.search_container {
    height: 100vh;
}
.text_box_container {
    padding: 100px 50px;
}

.search_input {
    height: 50px;
    width: 600px;
    padding: 5px 10px;

    font-size: 20px;
    color: #fff;
    border: 1px solid #dedede;
    background-color: transparent;
    border-radius: 3px;
}