@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #37474f;

    font-family: 'Poppins', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 400px;

    background-color: #232931;
    color: #fff;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0 0 10px;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}
.text__center {
    text-align: center;
}

.left-info {
    width: 260px;
    height: 100%;
    display: flex;
    justify-content: center;

    background: url("img/1.jpg") center;
    background-size: cover;
    transform: scale(1.03) perspective(200px);
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.left-info:hover {
    transform: scale(1.1) perspective(2500px) rotateY(5deg);
}

.pic-gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    background: linear-gradient(135deg, #5c6bc0 10%, #0d47a1 100%);
    border-radius: 25px;
    opacity: 0.5;
}

.today-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.today-weather {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 20px;
    left: 20px;
}

.today-weather .bx {
    font-size: 4.6rem;
}

.weather-temp {
    font-weight: 700;
    font-size: 3.5rem;
}